<div class="row">
    <li>
        <div class="col">
            {{name}}
        </div>
        <div class="col">
            {{#unless devoured}}
            <button class="change-devoured btn btn-outline-secondary" data-id="{{id}}" data-newdevoured="{{devoured}}">
                Devour
            </button>
            {{/unless}}

            {{#if devoured}}
            <button class="change-devoured btn btn-outline-success" data-id="{{id}}" data-newdevoured="{{devoured}}">
                Add
            </button>
            {{/if}}
        </div>
    </li>
</div>