<li>
    {{name}}
    {{#unless devoured}}
    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        Devour
    </button>
    {{/unless}}

    {{#if devoured}}
    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        Add
    </button>
    {{/if}}
</li>